.App {
  text-align: center;
}

nav {
  background-color: #282c34;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: red;
}

nav a:hover {
  color: white;
}

.red {
  color: red;
}

th {
  min-width: 5em;
  padding-right: 1em;
}

td {
  min-width: 6.5em;
  text-align: left;
}

footer {
  background-color: #282c34;
  bottom: 0;
  position: fixed;
  width: 100vw;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}

.leaderboard {
  margin-left: 3em;
}


