.App {
  text-align: center;
}

main {
  min-height: 115vh;
}

nav {
  background-color: #282c34;
  line-height: 2.5em;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: red;
}

nav a:hover {
  color: white;
}

.red {
  color: red;
}

th {
  min-width: 5em;
  padding-right: 3.5em;
  text-align: left;
}

td {
  min-width: 6.5em;
  text-align: left;
}

label {
  padding-right: 10px;
}

input {
  max-height: 1.5em;
}

footer {
  background-color: #282c34;
  bottom: 0;
  position: fixed;
  width: 100vw;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}

.leaderboard {
  margin-left: 3em;
}

.login {
  color: #c63434;
  padding: 30px;
  width: 30vw;
  margin: 0 auto;
}

.signup {
  color: #c63434;
  margin: 10px;
  width: 30vw;
  margin: 0 auto;
}




